<template>
    <div class="Render">
        <Canvas />
    </div>
</template>

<script>
import Canvas from "@/components/Canvas";
export default {
    name: "Render",
    components: {
        Canvas,
    },
};
</script>
