<template>
    <canvas id="renderCanvas"></canvas>
</template>

<script>
import { Engine, FreeCamera, HemisphericLight, Mesh, Scene, Vector3 } from "@babylonjs/core";

export default {
    name: "Canvas",
    computed: {
        engine() {
            return this.$store.getters.getEngine;
        },
    },
    methods: {
        createScene(engine, canvas) {
            const scene = new Scene(engine);
            const camera = new FreeCamera("camera1", new Vector3(0, 5, -10), scene);

            camera.setTarget(Vector3.Zero());
            camera.attachControl(canvas, false);

            const light = new HemisphericLight("light1", new Vector3(0, 1, 0), scene);
            const sphere = Mesh.CreateSphere("sphere1", 16, 2, scene);

            sphere.position.y = 1;

            const ground = Mesh.CreateGround("ground1", 6, 6, 2, scene);

            return { scene, light, camera, ground };
        },
        windowResize() {
            this.engine.resize();
        },
        setupBJS() {
            const canvas = document.getElementById("renderCanvas");
            const engine = new Engine(canvas, true);

            let light, camera, ground, scene;
            ({ light, camera, ground, scene } = this.createScene(engine, canvas));

            engine.runRenderLoop(() => {
                scene.render();
            });

            this.$store.dispatch("setCoreEngine", {
                engine,
                scene,
            });

            window.addEventListener("resize", this.windowResize);
        },
    },
    mounted() {
        this.setupBJS();
    },
};
</script>

<style scoped></style>
