<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>

<style lang="scss">
html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    #renderCanvas {
        width: 100%;
        height: 100%;
        touch-action: none;
    }
}
</style>
